@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
  display: block;
  font: 7.5em 'Montserrat';
  width: 900px;
  height: 250px;
  margin: 0 auto;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 6s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #000000;
  animation-delay: -1s;
}

.text-copy:nth-child(2) {
  stroke: #5d8ebd;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #c9caca;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #b0c4de;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #778899;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}
