<template>
  <div>
    <svg viewBox="0 0 900 250" class="home-box">
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="70%">Game of life</text>
      </symbol>

      <g class="g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
    <GameOfLife />
  </div>
</template>

<script>
import GameOfLife from '../components/GameOfLife.vue';
import '@/assets/css/title.css';

export default {
  components: {
    GameOfLife,
  },
};
</script>

<style>
  .home-box {
    max-width: 100%
  }
</style>
