<template>
  <div>
    <b-modal
      id="explanation"
      size="lg"
      class="modal-explanation"
      title="Explanation"
      :hide-footer="true"
    >
      <p>
        Game of Life is a cellular automaton, and was invented by Cambridge
        mathematician <b>John Conway</b>. It consists of a grid of cells which,
        based on a few mathematical rules, can live, die or multiply. Depending
        on the initial conditions, the cells form various patterns throughout
        the course of the game.
      </p>
      <h5>Rules</h5>
      <b-container class="text-left">
        <b-row>
          <b-col cols="8">
            <h6>For a space that is populated:</h6>
          </b-col>
          <b-col cols="4">
            <h5>Examples</h5>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="8">
            <p>Each cell with one or no neighbours dies, as if by solitude.</p>
          </b-col>
          <b-col cols="4">
            <img src="../assets/img/1or0.jpg" />
          </b-col>
        </b-row>
        <b-row class="mt-4">
          <b-col cols="8">
            <p>
              Each cell with four or more neighbors dies, as if by
              overpopulation.
            </p>
          </b-col>
          <b-col cols="4">
            <img src="../assets/img/4orMore.jpg" />
          </b-col>
        </b-row>
        <b-row class="mt-4">
          <b-col cols="8">
            <p>Each cell with two or three neighbors survives.</p>
          </b-col>
          <b-col cols="4">
            <img src="../assets/img/2or3.jpg" />
          </b-col>
        </b-row>
        <b-row class="mt-4">
          <b-col cols="8">
            <h5>For a space that is empty or unpopulated:</h5>
            <p>Each cell with three neighbors becomes populated</p>
          </b-col>
          <b-col cols="4">
            <img src="../assets/img/3.jpg" />
          </b-col>
        </b-row>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'Explanation',
};
</script>
