<template>
  <div>
    <b-container class="text-left">
      <b-row>
        <b-col class="col-12 col-md-2">
          <b-input
            v-model="width"
            placeholder="Enter width..."
            type="number"
            min="1"
            class="mb-1"
          ></b-input>
        </b-col>
        <b-col class="col-12 col-md-2">
          <b-input
            v-model="height"
            placeholder="Enter height..."
            type="number"
            min="1"
            class="mb-1"
          ></b-input>
        </b-col>
        <b-col class="col-12 col-md-4">
          <b-input
            v-model="seed"
            class="mb-1"
            placeholder="Enter seed for pattern generation..."
          ></b-input>
          <p class="font-italic ml-3 random-info">
            Leave the field blank for random generation
          </p>
        </b-col>
        <b-col class="col-12 col-md-4">
          <b-button
            :disabled="isDisabled"
            variant="primary"
            class="mr-1 mb-1"
            @click="init()"
            >Create Random</b-button
          >
          <b-button
            :disabled="isDisabled"
            variant="primary"
            class="mr-1 mb-1"
            @click="createClear()"
            >Create Blank</b-button
          >
        </b-col>
      </b-row>
      <b-row class="mt-2">
        <b-col class="col-12 col-md-4">
          <b-button
            v-b-modal="'explanation'"
            class="mr-1 mb-1"
            variant="outline-primary"
            ><ion-icon
              name="information-circle-outline"
              class="icon icon-info"
            />
            Explanation</b-button
          >
          <b-button
            class="mr-1 mb-1"
            :disabled="isDisabled"
            @click="initBlinker()"
            >Blinker</b-button
          >
          <b-button
            class="mr-1 mb-1"
            :disabled="isDisabled"
            @click="initGlider()"
            >Glider</b-button
          >
        </b-col>
        <b-col class="col-12 col-md-4">
          <b-button
            class="mr-1 mb-1"
            :disabled="isDisabled || !board || !!runInterval"
            variant="outline-success"
            @click="nextGen()"
            ><ion-icon name="arrow-redo" class="icon" />Next</b-button
          >
          <b-button
            class="mr-1 mb-1"
            :disabled="isDisabled || !board"
            :variant="runInterval ? 'danger' : 'success'"
            @click="run()"
          >
            <span v-show="runInterval"
              ><ion-icon name="stop-circle-outline" class="icon" />Stop</span
            >
            <span v-show="!runInterval"
              ><ion-icon name="caret-forward" class="icon" />Play</span
            >
          </b-button>
        </b-col>
        <b-col class="col-12 col-md-4"></b-col>
      </b-row>
    </b-container>

    <h6 v-show="board" class="font-italic mt-2">
      You can edit the pattern with single left mouse click on each cell.
    </h6>

    <section class="mt-3">
      <label v-show="board">{{ gridWidth }}x{{ gridHeight }} {{ name }}</label>
    </section>
    <section>
      <canvas
        ref="grid"
        :width="canvasWidth"
        :height="canvasHeight"
        @click="changeCell"
      >
        No canvas support found!
      </canvas>
    </section>
    <Explanation />
  </div>
</template>
<script>
import Explanation from './Explanation.vue';

export default {
  name: "GameOfLife",
  components: {
    Explanation,
  },
  data() {
    return {
      board: null,
      boardNext: null,
      canvas: null,
      ctx: null,
      cellSize: 16,
      width: null,
      height: null,
      name: '',
      gridWidth: null,
      gridHeight: null,
      runInterval: null,
      seed: '',
    };
  },
  computed: {
    canvasWidth() {
      return this.gridWidth * this.cellSize;
    },
    canvasHeight() {
      return this.gridHeight * this.cellSize;
    },
    isDisabled() {
      return !(this.width > 0 && this.height > 0);
    },
  },
  mounted() {
    this.canvas = this.$refs.grid;
    this.ctx = this.canvas.getContext('2d');
  },
  methods: {
    init() {
      if (!this.width || !this.height) {
        return;
      }
      this.createClear();
      this.name = 'Random';
      if (this.seed) Math.seedrandom(this.seed);
      else Math.seedrandom(Date.now());

      for (let x = 0; x < this.height; x++) {
        this.board[x] = new Array(this.width);
        for (let y = 0; y < this.width; y++) {
          this.board[x][y] = Math.round(Math.random());
        }
      }

      this.render();
    },
    createClear() {
      clearInterval(this.runInterval);
      this.runInterval = null;
      if (!this.width || !this.height) {
        return;
      }
      this.gridWidth = this.width;
      this.gridHeight = this.height;
      this.name = 'Blank';
      this.board = new Array(this.height);
      for (let x = 0; x < this.height; x++) {
        this.board[x] = new Array(this.width);
        for (let y = 0; y < this.width; y++) {
          this.board[x][y] = 0;
        }
      }
      this.render();
    },
    nextGen() {
      if (!this.board) {
        return;
      }
      this.boardNext = new Array(this.board.length);
      for (let i = 0; i < this.board.length; i++) {
        this.boardNext[i] = new Array(this.board[i].length);
      }
      for (let x = 0; x < this.board.length; x++) {
        for (let y = 0; y < this.board[x].length; y++) {
          let n = 0;
          for (let dx = -1; dx <= 1; dx++) {
            for (let dy = -1; dy <= 1; dy++) {
              if (dx !== 0 || dy !== 0) {
                if (
                  typeof this.board[x + dx] !== 'undefined' &&
                  typeof this.board[x + dx][y + dy] !== 'undefined' &&
                  this.board[x + dx][y + dy]
                ) {
                  n++;
                }
                if (
                  typeof this.board[this.board.length - 1][y + dy] !==
                    'undefined' &&
                  ((x + dx < 0 && this.board[this.board.length - 1][y + dy]) ||
                    (x + dx >= this.board.length && this.board[0][y + dy]))
                ) {
                  n++;
                }
                if (
                  x + dx >= 0 &&
                  x + dx < this.board.length &&
                  typeof this.board[x + dx][this.board[0].length - 1] !==
                    'undefined' &&
                  ((y + dy < 0 &&
                    this.board[x + dx][this.board[x + dx].length - 1]) ||
                    (y + dy >= this.board[0].length && this.board[x + dx][0]))
                ) {
                  n++;
                }
              }
            }
          }

          if (
            x === 0 &&
            y === 0 &&
            this.board[this.board.length - 1][this.board[0].length - 1]
          ) {
            n++;
          }
          if (
            x === 0 &&
            y === this.board[0].length - 1 &&
            this.board[this.board.length - 1][0]
          ) {
            n++;
          }
          if (
            x === this.board.length - 1 &&
            y === 0 &&
            this.board[0][this.board[0].length - 1]
          ) {
            n++;
          }
          if (
            x === this.board.length - 1 &&
            y === this.board[0].length - 1 &&
            this.board[0][0]
          ) {
            n++;
          }

          var c = this.board[x][y];
          switch (n) {
            case 0:
            case 1:
              c = 0;
              break;
            case 2:
              break;
            case 3:
              c = 1;
              break;
            default:
              c = 0;
          }
          this.boardNext[x][y] = c;
        }
      }
      this.board = this.boardNext.slice();
      this.render();
    },
    render() {
      this.$nextTick(() => {
        for (let x = 0; x < this.board.length; x++) {
          for (let y = 0; y < this.board[x].length; y++) {
            this.ctx.fillStyle = '#E0DCDB';
            this.ctx.fillRect(
              y * this.cellSize,
              x * this.cellSize,
              this.cellSize,
              this.cellSize
            );
            if (this.board[x][y])
              // x and y reversed to draw matrix like it looks in source
              // rather than the "actual" positions
              this.ctx.fillStyle = '#3399FF';
            else this.ctx.fillStyle = '#000000';
            this.ctx.fillRect(
              y * this.cellSize + 1,
              x * this.cellSize + 1,
              this.cellSize - 2,
              this.cellSize - 2
            );
          }
        }
      });
    },
    run() {
      if (!this.board) {
        return;
      }
      if (!this.runInterval) {
        this.runInterval = setInterval(() => {
          this.nextGen();
          this.render();
        }, 250);
      } else {
        clearInterval(this.runInterval);
        this.runInterval = null;
      }
    },
    changeCell(event) {
      if (!this.board) {
        return;
      }
      const x = Math.floor(event.offsetX / this.cellSize);
      const y = Math.floor(event.offsetY / this.cellSize);
      this.board[y][x] = !this.board[y][x];
      this.render();
    },
    copyPattern(pattern) {
      this.createClear();
      if (!this.board) {
        return;
      }
      for (let x = 0; x < pattern.length && x < this.board.length; x++) {
        for (let y = 0; y < pattern.length && y < this.board[0].length; y++) {
          this.board[x][y] = pattern[x][y];
        }
      }
      this.render();
    },
    initBlinker() {
      const blinker = [
        [0, 1, 0],
        [0, 1, 0],
        [0, 1, 0],
      ];
      this.copyPattern(blinker);
      this.name = 'Blinker';
    },
    initGlider() {
      const glider = [
        [0, 0, 0, 0],
        [0, 0, 1, 0],
        [0, 0, 0, 1],
        [0, 1, 1, 1],
      ];
      this.copyPattern(glider);
      this.name = 'Glider';
    },
  },
};
</script>

<style>
.icon-info {
  font-size: 18px;
}

.random-info {
  font-size: 0.775em;
  color: rgb(150, 172, 172);
}
</style>
