<template>
  <div id="app" :style="{ backgroundImage: `url(${background})` }">
    <Home />
  </div>
</template>

<script>
import Home from './views/Home.vue';
import background from './assets/img/background.jpg';

export default {
  name: 'App',
  components: {
    Home,
  },
  data: function () {
    return {
      background,
    };
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  background-size: cover;
}

.icon {
  vertical-align: text-top;
}
</style>
